/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #93c5fd;
  height: 100vh;
}
.capital-container {
  background-color: #f0fafc;
  border-radius: 16px;
  width: 95%;
  padding: 26px;
  max-width: 345px;
}
@media screen and (min-width: 768px) {
  .capital-container {
    padding: 44px 64px 0px 44px;
    max-width: 523px;
  }
}

.heading {
  color: #1e293b;
  font-size: 24px;
  font-family: 'roboto';
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .heading {
    text-align: left;
    font-size: 32px;
  }
}

.question-container {
  display: flex;
  align-items: center;
}
.capital-select {
  background-color: #f8fafc;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 500;
  width: 100px;
  height: 40px;
  border: 1px solid #abd2d9;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .capital-select {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    width: 180px;
    font-size: 16px;
  }
}

.option {
  color: #323f4b;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .option {
    font-size: 14px;
  }
}

.question {
  color: #000;
  font-size: 12px;
  font-family: 'roboto';
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .question {
    font-size: 16px;
  }
}

.country {
  color: #1e293b;
  font-size: 14px;
  font-family: 'roboto';
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .country {
    font-family: 'roboto';
    font-size: 24px;
  }
}
